/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
html,
body { height: 100%

 }


.test {font-family: 'Lato', sans-serif;}
a {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #333;
}
a:hover { text-decoration: none }

.logo-section{
    margin-left: -30px;
}

.welcome-area, .logo-section, .logo{
    height: 100%;

}

.header{
    height: 100%;
    background: #fcdb00;
}

.logo h1{
    padding-top: 30px;
    margin-left: 30px;
    float: left;
}

.logo h1{
    font-size: 30px;
}

.menu{
    float: right;
}

.menu ul{
    padding-top: 30px;
}
.menu ul li{
    margin-right: 20px;
    padding: 10px 20px;
    list-style: none;
    float: left;
    
}

.menu ul li:hover{
    transition: 1s;
    background-color: #ffe5e5;
    
}
.menu ul li a{
    font-size: 15px;
    text-decoration: none;
}

.header-text{

    float: left;
}

.header-text h4{
    font-size: 30px;
    margin-top: 20%;
     line-height: 5;
}
.header-text h6{
    font-size: 15px;
}

.header-text p{
    text-align: justify;
}

.mobile-area{
    margin-top: 10%;
    float: right;
}

.section-text p{
    font-size: 15px;
    margin: 0px auto;
    width: 700px;
}


.section-text{
    margin-top: 5%;
}
.section-text h4{
    font-weight: 900;
   
   font-size: 32px;
}


.font-awesome h1{
    font-size: 25px;
    margin-left: 20px;
    float: left;
}




.font-awesome p{
    text-align: justify;
     margin-left: 55px;
    float: left;
}


.section-2{
    margin-top: 50px;
}

.section-2{
    margin-bottom: 50px;
}

.sodo-text h4{
   
    font-weight: 700;
    color: #fcdb00;
}

.sodo-text p{
    color: gray;
}


.search-area{
    margin: 0px auto;
}
.foter-section-area, .foter-section{
    height: 100%;
    background-color: #000000;
}


.search-area{
    margin-top: 5%;
}
.search input {
    width: 800px;
    float: left;
    padding:10px ; 
}


.btn{
    margin-top: -10px;
}
.btn h1{
    border-radius: 5%;
    background-color: #fcdb00;
    color: #fff;
    padding: 12px 34px;
    font-size: 27px;
    
}

.btn h1:hover{
    transition: 1s;
    background-color: #e67e22;
    
    
}

.search-area{
    margin-left: 5%;
}

.icon{

    padding-bottom: 5%;
    border-bottom: 1px solid gray;
    margin-top: 5%;
}
.icon i{

    margin-left: 10px;
    border-radius: 100%;
    padding: 19px 22px;
    color: #fff;
    background-color: #00dfff;
    font-size: 20px;
    
}
.icon i:hover{

   transition: 1s;
    background-color: #2ecc71;
   
    
}

.text-color{
    margin-top: 10%;
}
.text-color a {
    text-decoration: none;
}

.text-color a p{
    font-size: 15px;
   color: lightgray;
}

.text-color a p:hover{
    transition: 1s;
   color: blue;
}